[submodule "External/makeitso"]
	path = External/makeitso
	url = https://github.com/nakdai/makeitso.git
	ignore = dirty
[submodule "Tools/External/mojoshader"]
	path = Tools/External/mojoshader
	url = https://github.com/nakdai/mojoshader.git
	ignore = dirty
[submodule "External/ANGLE"]
	path = External/ANGLE
	url = https://chromium.googlesource.com/angle/angle
    ignore = dirty
[submodule "External/googletest"]
	path = External/googletest
	url = https://github.com/nakdai/googletest.git
    ignore = dirty
[submodule "Tools/External/assimp"]
	path = Tools/External/assimp
	url = https://github.com/assimp/assimp.git
[submodule "External/libuv"]
	path = External/libuv
	url = https://github.com/libuv/libuv.git
[submodule "External/freeglut"]
	path = External/freeglut
	url = https://github.com/dcnieho/FreeGLUT.git
[submodule "External/freetype"]
	path = External/freetype
	url = http://git.sv.nongnu.org/r/freetype/freetype2.git
