[submodule "External/makeitso"]
	path = External/makeitso
	url = https://github.com/nakdai/makeitso.git
[submodule "Tools/External/mojoshader"]
	path = Tools/External/mojoshader
	url = https://github.com/nakdai/mojoshader.git
[submodule "External/ANGLE"]
	path = External/ANGLE
	url = https://chromium.googlesource.com/angle/angle
[submodule "External/googletest"]
	path = External/googletest
	url = https://github.com/nakdai/googletest.git
