<MakeItSo>
    <AllProjects>
        <RemoveIncludePath path="../../../External/ANGLE/include"/>
        <RemoveLibraryPath path="../../../External/glew/lib/Debug/Win32"/>
        <RemoveLibraryPath path="../../../External/glew/lib/Release/Win32"/>
        <RemoveLibraryPath path="../../../External/freeglut/lib/x86/Debug"/>
        <RemoveLibraryPath path="../../../External/freeglut/lib/x86/Release"/>
        <RemoveLibrary library="glew32d"/>
        <RemoveLibrary library="glew32"/>
        <RemoveLibrary library="freeglut"/>
        <RemoveConfiguration config="Debug_DX9|Win32"/>
        <RemoveConfiguration config="Release_DX9|Win32"/>
        <RemoveConfiguration config="Debug_GLES2|Win32"/>
        <RemoveConfiguration config="Release_GLES2|Win32"/>
        <AddPreprocessorDefinition configuration="Debug_GLUT" definition="__IZANAGI_NO_USE_D3D__" />
        <RemovePreprocessorDefinition definition="_WINDOWS"/>
        <RemoveFilesAndDirectories regex="win32" />
        <RemoveFilesAndDirectories regex="DX9" />
        <RemoveFilesAndDirectories regex="dx9" />
        <RemoveFilesAndDirectories regex="EGL" />
        <RemoveFilesAndDirectories regex="Pad*.cpp" />
        <RemoveFilesAndDirectories regex="DeviceUtil.cpp" />
    </AllProjects>
</MakeItSo>
