<MakeItSo>
    <AllProjects>
        <RemoveIncludePath path="../../../External/ANGLE/include"/>
        <RemoveConfiguration config="Debug_DX9|Win32"/>
        <RemoveConfiguration config="Release_DX9|Win32"/>
        <AddPreprocessorDefinition configuration="Debug_GLES2" definition="__IZANAGI_NO_USE_D3D__" />
        <AddPreprocessorDefinition configuration="Release_GLES2" definition="__IZANAGI_NO_USE_D3D__" />
        <RemoveFilesAndDirectories regex="win32" />
    </AllProjects>
</MakeItSo>
