<MakeItSo>
    <AllProjects>
        <RemoveIncludePath path="../../../External/ANGLE/include"/>
        <RemoveIncludePath path="../../../External/glew/include"/>
        <RemoveIncludePath path="../../../External/freeglut/include"/>
        <RemoveConfiguration config="Debug_DX9|Win32"/>
        <RemoveConfiguration config="Release_DX9|Win32"/>
        <RemoveConfiguration config="Debug_GLES2|Win32"/>
        <RemoveConfiguration config="Release_GLES2|Win32"/>
        <AddPreprocessorDefinition configuration="Debug_GLUT" definition="__IZANAGI_NO_USE_D3D__" />
        <RemoveFilesAndDirectories regex="win32" />
        <RemoveFilesAndDirectories regex="DX9" />
        <RemoveFilesAndDirectories regex="EGL" />
        <RemoveFilesAndDirectories regex="Pad*.cpp" />
        <RemoveFilesAndDirectories regex="DeviceUtil.cpp" />
    </AllProjects>
</MakeItSo>
