<MakeItSo>
    <AllProjects>
        <RemoveIncludePath path="../../../External/ANGLE/include"/>
        <RemoveLibraryPath path="../../../External/freeglut/lib/x86/Debug"/>
        <RemoveLibraryPath path="../../../External/freeglut/lib/x86/Release"/>
        <RemoveLibraryPath path="../../../External/freetype/objs/win32/gccvc2010"/>
        <RemoveLibrary library="d3d9"/>
        <RemoveLibrary library="d3dx9d"/>
        <RemoveLibrary library="d3dx9"/>
        <RemoveLibrary library="dxguid"/>
        <RemoveLibrary library="dinput8"/>
        <RemoveLibrary library="dxerr"/>
        <RemoveLibrary library="winmm"/>
        <RemoveLibrary library="freetype2411_D"/>
        <RemoveLibrary library="freetype2411"/>
        <AddLibraryPath configuration="Debug_GLUT" path="SampleKit/gccDebug_GLUT"/>
        <AddLibraryPath configuration="Debug_GLUT" path="../../../External/glew/lib"/>
        <AddLibrary configuration="Debug_GLUT" library="libStd.a"/>
        <AddLibrary configuration="Debug_GLUT" library="libGraph.a"/>
        <AddLibrary configuration="Debug_GLUT" library="libDebugUtil.a"/>
        <AddLibrary configuration="Debug_GLUT" library="libSystem.a"/>
        <AddLibrary configuration="Debug_GLUT" library="libSceneGraph.a"/>
        <AddLibrary configuration="Debug_GLUT" library="libMath.a"/>
        <AddLibrary configuration="Debug_GLUT" library="libglut.a"/>
        <AddLibrary configuration="Debug_GLUT" library="libGLU.a"/>
        <AddLibrary configuration="Debug_GLUT" library="libGLEW.a"/>
        <AddLibrary configuration="Debug_GLUT" library="libGL.a"/>
        <AddLibrary configuration="Debug_GLUT" library="libX11.a"/>
        <AddLibrary configuration="Debug_GLUT" library="libXxf86vm.a"/>
        <AddLibrary configuration="Debug_GLUT" library="libXi.a"/>
        <RemoveConfiguration config="Debug_DX9|Win32"/>
        <RemoveConfiguration config="Release_DX9|Win32"/>
        <RemoveConfiguration config="Debug_GLES2|Win32"/>
        <RemoveConfiguration config="Release_GLES2|Win32"/>
        <AddPreprocessorDefinition configuration="Debug_GLUT" definition="__IZANAGI_NO_USE_D3D__" />
        <RemovePreprocessorDefinition definition="_WINDOWS"/>
    </AllProjects>
    <Project name="JobQueue">
        <AddLibrary configuration="Debug_GLUT" library="libpthread.a"/>
	</Project>
    <Project name="MesssageQueue">
        <AddLibrary configuration="Debug_GLUT" library="libpthread.a"/>
	</Project>
    <Project name="Parallel">
        <AddLibrary configuration="Debug_GLUT" library="libpthread.a"/>
	</Project>
    <Project name="Task">
        <AddLibrary configuration="Debug_GLUT" library="libpthread.a"/>
	</Project>
    <Project name="FontFreeType">
		    <AddLibraryPath configuration="Debug_GLUT" path="../../../External/freetype/lib"/>
        <AddLibrary configuration="Debug_GLUT" library="libfreetype.a"/>
	</Project>
    <Project name="FontRenderer">
		    <AddLibraryPath configuration="Debug_GLUT" path="../../../External/freetype/lib"/>
        <AddLibrary configuration="Debug_GLUT" library="libfreetype.a"/>
	</Project>
    <Project name="TextParagraph">
		    <AddLibraryPath configuration="Debug_GLUT" path="../../../External/freetype/lib"/>
        <AddLibrary configuration="Debug_GLUT" library="libfreetype.a"/>
	</Project>
</MakeItSo>
